@import url('https://fonts.googleapis.com/css2?family=Lavishly+Yours&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=TikTok+Sans:opsz,wght@12..36,300..900&family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body{
    background-image: url(https://images.pexels.com/photos/34085/pexels-photo.jpg);
    background-size: cover; 
}
h1{
    text-shadow: black 0.1em 0.1em 0.2em;
}

body::before{
    content: "";
    position: fixed;
    inset: 0;
    background-image: url(https://images.pexels.com/photos/34085/pexels-photo.jpg);
    background-size: cover;
    filter: blur(12px);
    transform: scale(1.1);
    z-index: -1;
}

.navbar {
    background: url(https://images.pexels.com/photos/134577/pexels-photo-134577.jpeg);
    background-size: cover;
    background-position: center;
    margin: 10px;
    margin-top: 15px;
    margin-bottom: 5px;
    margin-left: 30px;
    margin-right: 30px;
    padding: 10px 30px;
    display: flex;
    color: #eeeae2;
    /* text-align: center; */
    justify-content: center;
    /* align-items: center; */
    border-radius: 20px;
    border: 2px solid #CFC9BD;
}

.container{
    /* background: white; */
    margin: 10px;
    margin-top: 5px;
    display: flex;
    gap: 20px;
    padding: 20px;
    color: #eeeae2;
    /* border-radius: 20px; */
    /* border: 2px solid rgb(95, 17, 17); */
    
}

.container .left, 
.container .middle, 
.container .right{
    display: flex;
    flex-direction: column;
    height: auto;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
}

.left .left-top {
    background: url(https://images.pexels.com/photos/35451376/pexels-photo-35451376.jpeg);
    background-size: cover;
    background-position: center;
    padding: 20px;
    border-radius: 20px;
    border: 2px solid #CFC9BD;
    cursor: pointer;
    height: 55vh;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.left-top .overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;
    z-index: 1;
}

.left-top:hover .overlay {
    background: rgba(0, 0, 0, 0.35);
}

.left-top h1, 
.left-top p{
    position: relative;
    z-index: 2;
}

.left-top .content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.left-top .content p {
    margin-top: auto;
    font-size: 1.2rem;
}

.left-top .content p a {
    position: relative;
    display: inline-block;
    color: #eeeae2;
    text-decoration: none;
}

.left-top .content p a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -2px;

    width: 0;
    height: 2px;
    background-color: #eeeae2;

    transform: translateX(-50%);
    transition: width 0.8s ease;
}

.left-top .content p a:hover::after {
    width: 100%;
}

.left .left-bottom {
    background: url(https://images.pexels.com/photos/2396220/pexels-photo-2396220.jpeg);
    background-size: cover;
    background-position: center;
    padding: 20px;
    border-radius: 20px;
    border: 2px solid #CFC9BD;
    cursor: pointer;
    height: 28vh;
    position: relative;
    overflow: hidden;
}

.left-bottom .overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;
    z-index: 1;
}

.left-bottom:hover .overlay {
    background: rgba(0, 0, 0, 0.35);
}

.left-bottom h1, 
.left-bottom p{
    position: relative;
    z-index: 2;
}

.left-bottom .content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.left-bottom .content p {
    margin-top: auto;
    font-size: 1.2rem;
}

.left-bottom .content p a {
    position: relative;
    display: inline-block;
    color: #eeeae2;
    text-decoration: none;
}

.left-bottom .content p a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -2px;

    width: 0;
    height: 2px;
    background-color: #eeeae2;

    transform: translateX(-50%);
    transition: width 0.8s ease;
}

.left-bottom .content p a:hover::after {
    width: 100%;
}

.right {
    background: url(https://images.pexels.com/photos/2575835/pexels-photo-2575835.jpeg);
    background-size: cover;
    background-position: center;
    padding: 20px;
    border-radius: 20px;
    border: 2px solid #CFC9BD;
    flex: 1;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.right .overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;
    z-index: 1;
}

.right:hover .overlay {
    background: rgba(0, 0, 0, 0.35);
}

.right h1, 
.right p{
    position: relative;
    z-index: 2;
}

.right .content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.right .content p {
    margin-top: auto;
    font-size: 1.2rem;
}

.right .content p a {
    position: relative;
    display: inline-block;
    color: #eeeae2;
    text-decoration: none;
}

.right .content p a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -2px;

    width: 0;
    height: 2px;
    background-color: #eeeae2;

    transform: translateX(-50%);
    transition: width 0.8s ease;
}

.right .content p a:hover::after {
    width: 100%;
}
